/* This File Is Linked To The Landing Page 'blog/index.html' */
/* Register Or Go To Home Page div "container" */
.container{
    padding: 40px 5px;
    background-color: #fff4;
    .b-logo{
        width: 50%;
        margin: auto;
        img{
            width: 100%;
        }
    }
    .b-desc,.b-name{
        text-align: center;
        color: #fff;
    }
    .btns{
        text-align: center;
        margin: 5px 0;
        .register-btn,.home-btn{
            width: 130px;
            height: 30px;
            font-size: 20px;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 10px;
            display: inline-block;
            transition: background 0.2s;
        }
        .register-btn{
            background: #0ffa;
        }
        .register-btn:hover{
            background: #0ffe;
        }
        .home-btn:hover{
            background: #fff3;
        }
    }
}
.b-info{
    width: 100%;
    padding: 30px 5px;
    margin: 40px 0;
    background-color: #eeea;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px #000;
    img{
        width: 100px;
        float: left;
    }
    .desc{
        float: right;
        width: 160px;
        font-size: 28px;
        text-align: right;
        color: #000;
    }
}

/* For Bigger Screens */
@media screen and (min-width: 500px) {
    .container {
        .b-logo{
            width: 200px;
        }
        .b-desc,.b-name{
            font-size: 22px;
        }
        .btns{
            .register-btn,.home-btn{
                width: 170px;
                height: 40px;
                font-size: 25px;
                border: 2px solid #fff;
            }
        }
    }
    .b-info{
        width: 90%;
        margin: 40px auto;
        border-radius: 16px;
        img{
            width: 140px;
        }
        .desc{
            width: 250px;
            font-size: 30px;
        }
    }
}
@media screen and (min-width: 800px) {
    .b-info{
        width: 75%;
        padding: 10px 100px;
        img{
            width: 160px;
        }
        .desc{
            width: 300px;
        }
    }
}